@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');



.hidden {
    display: none;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Mulish', sans-serif;

}


/* Shared Style Start */

.primary-h-style {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0;

}

.primary-color {
    color: #FF5400;
}

.btn-primary {
    color: white;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 8px;
    font-weight: 600;
    height: 40px;
    width: 130px;
    font-weight: 800;
}

.primary-p-style {
    color: rgba(19, 19, 24, 0.70);
    margin: 0;

}

/* Shared Style End */

.main-icon {
    display: flex;
    align-items: center;

}

.main-icon img {
    width: 60px;
    object-fit: cover;

}

.nav-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.anchor-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.anchor-container a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 600;
}

.anchor-container .anchor-color a {
    color: #FF5400;
}

.banner-container {
    position: relative;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1300px;
    height: 700px;
    text-align: center;
    border-radius: 16px;
    margin: 0 auto;
}


.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.banner-head {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
}

.banner-input {
    position: absolute;
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}



.input-1 {

    height: 25px;
    width: 120px;
    border: 0;
    border-radius: 5px;
    padding: 8px;

}

.input-2 {
    height: 40px;
    width: 130px;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: rgba(19, 19, 24, 0.50);

}

.input-3 {
    height: 40px;
    width: 130px;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: rgba(19, 19, 24, 0.50);

}



.fa-solid {
    margin-right: 3px;
}

/* banner section :end */


/* Our :plan */
.plan-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.plan-content {
    width: 50%;
    line-height: 26px;

}

.plan-content>ul li {
    margin-left: 20px;
}

.plan-img {
    width: 45%;
}

.plan-img img {
    width: 100%;
}

/* Destination  */


.destination-container {
    width: 1200px;
    margin: 0 auto;
}

.destination-header {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}

.desnination-info {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 35px; */
}

.grid {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
}

#grid-1 {
    background-image: url(Images/Rectangle\ 5.png);
    grid-area: c1;
    height: 300px;
    width: auto;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-2 {
    background-image: url(Images/Rectangle\ 8.png);
    grid-area: c2;
    height: 300px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-3 {
    background-image: url(Images/Rectangle\ 6.png);
    grid-area: c3;
    height: 300px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-4 {
    background-image: url(Images/Rectangle\ 7.png);
    grid-area: c4;
    height: 300px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

#grid-5 {
    background-image: url(Images/Rectangle\ 9.png);
    grid-area: c5;
    height: 300px;
    border-radius: 16px;
    background-position: center;

    background-repeat: no-repeat;
}

#grid-6 {
    background-image: url(Images/Rectangle\ 11.png);
    grid-area: c6;
    height: 300px;
    border-radius: 16px;
    background-position: center;

    background-repeat: no-repeat;
}

#grid-7 {
    background-image: url(Images/Rectangle\ 10.png);
    grid-area: c7;
    height: 300px;
    border-radius: 16px;
    background-position: center;

    background-repeat: no-repeat;
}

.img-container {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "c1 c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c4 c4 c4 c4 c4 c5 c5 c5 "
        "c6 c6 c6 c6 c6 c7 c7 c7 c7 c7 c7 c7";
}


/* Why Choose Us */

.why {
    margin: 0px;
    text-align: center;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;


}

.card-1 {
    border-radius: 10px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 35px;

}

.card-2 {
    border-radius: 10px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 35px;
}

.card-3 {
    border-radius: 10px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 35px;
    width: 600px;
    height: 150px;
    margin: 0 auto;
}

.card-1,
.card-2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* My choose section */

.choose-container {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.my-choose {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.my-choose-title {
    text-align: center;
    font-size: 2rem;

}

.my-choose-info {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -20px;
}

.box-1,
.box-2,
.box-3 {
    padding: 10px;
    box-shadow: 5px 5px 30px rgba(85, 80, 80, 0.541);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box-1 {
    border-left: 4px solid blue;
    border-radius: 10px;
}

.box-2 {
    border-top: 4px solid tomato;
    border-radius: 10px;
}

.box-3 {
    border-right: 4px solid rgb(255, 115, 0);
    border-radius: 10px;
}

.box-1:hover {
    background-image: url(Images/jadukata.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;

}

.box-2:hover {
    background-image: url(Images/mayatong.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 81, 0);
    font-size: 1.5rem;
}

.box-3:hover {
    background-image: url(Images/chandranath.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.click-here {
    color: rgba(95, 95, 95, 0.589);
}

/* Perfect Place Section */
.place-container {
    display: flex;
    gap: 20px;
}

.place-content {
    width: 50%;
}

.place-title {
    font-size: 2.5rem;
}

.place-bg {
    width: 50%;
    background-image: url(Images/Group\ 40089.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place-bg h4 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.see-more {
    margin-top: 20px;
}

/* Newsletter Section */
.newsletter {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

hr {
    width: 95%;
    color: rgba(19, 19, 24, 0.10);
}

.form-info {
    display: grid;
    grid-template-columns: 1fr;
}

#text {

    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px;
    width: 90%;


}

#email {
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px;
    width: 90%;

}

.subscribe-btn {
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    font-weight: 500;
    padding: 14px;
    width: 98%;


}

.input-form {
    width: 40%;
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 20px;
}

.input-form p {
    text-wrap: wrap;
}

.input-img {
    width: 50%;
}

.discount-img {
    position: relative;

}

.rotate {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #FF5400;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    position: absolute;
    transform: rotate(-25.628deg);
    right: 7px;
    bottom: 60px;

}

footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 40px;
    padding: 80px;
}

.icon {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

}

.fa-brands {
    margin-left: 10px;
}

.copyright {
    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;
}