.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);



}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}